@model MyConservation.Models.Document

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/LayoutsClient/_Default.cshtml";
}

<header id="head" class="secondary"></header>
<div class="container Acceuil">
    <div id='sectionAimprimer'>
<h2 id="Acc">Les détails de ce travail</h2>

<fieldset>
    <legend></legend>

    <div class="display-field">
    <h4>Titre :  @Html.DisplayFor(model => model.titre) </h4> 
    </div>

    <div class="display-field">
     <h4> Nom de l'auteur :  @Html.DisplayFor(model => model.Etudiant.nom) </h4>
    </div>

    <div class="display-field">
    <h4> Université :   @Html.DisplayFor(model => model.Universite1.nomUniversite) </h4>
    </div>

    <div class="display-field">
    <h4> Niveau diplome :   @Html.DisplayFor(model => model.Diplome1.niveau) </h4>
    </div>

    
    <div class="display-field">
    <h4> Domaine de formation :   @Html.DisplayFor(model => model.DomaineFormation.nomDomaine) </h4>
    </div>

    <div class="display-field">
    <h4>  Nature du document :  @Html.DisplayFor(model => model.NatureDocument.nature) </h4>
    </div>

    <div class="display-field">
    <h4> Annee de publication :   @Html.DisplayFor(model => model.annee) </h4>
    </div>

    <div class="display-field">
    <h4> Fichier:   @Html.DisplayFor(model => model.fichier) </h4>
    </div>

</fieldset>
        </div>
<p>
   
    @Html.ActionLink("Retourne sur la page d'acceuil", "Index","Client")
    <button class="btn btn-info" onClick="imprimer('sectionAimprimer')">Imprimer</button>
</p>
</div>
<script>
    function imprimer(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>