@model MyConservation.Models.Document

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/LayoutsEtudiant/_Default.cshtml";
}
<header id="head" class="secondary"></header>
 

@using (Html.BeginForm("Create","CompteEtudiant",FormMethod.Post, new {enctype="multpart/form-data" }))
{
   
     @Html.ValidationSummary(true)

  <div class="container Acceuil">

		

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 id="Acc" class="page-title">Conserver vos Traveaux sur MyConservation</h1>
				</header>
					<p> <h3>Quels sont les avantages de publier un traveau sur MyConservation:</h3><br />

-Vous vous faites connaître par rapport à vos connaissances dans un domaine précis.<br />
-Cela peut vous aider dans votre recherche d'emploi<br />
-Vous aidez les autres étudiants dans leurs propres travaux<br />
-Vous participez à la libre circulation des connaissances<br />
-Vous améliorez votre capacite</p>
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Ajouter un nouveau document</h3>
							
							<hr>

							<form>
								<div class="top-margin">
									<label>Titre du coment</label>
									<input type="text" name="titre" class="form-control">
                                     @Html.ValidationMessageFor(model => model.titre)
								</div>
								<div class="top-margin">
									<label>Auteur</label>
				 @Html.DropDownList("nomAuteur", null, htmlAttributes: new { @class = "form-control", value="@Session['nom']" })
            @Html.ValidationMessageFor(model => model.nomAuteur)
								</div>
                               	<div class="top-margin">
									<label>Universite</label>
				 @Html.DropDownList("universite", null,"Selection l'universite", htmlAttributes: new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.universite)
								</div>
									<div class="top-margin">
									<label>Niveau diplome</label>
				 @Html.DropDownList("diplome", null,"Selection diplome", htmlAttributes: new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.diplome)
								</div>
                                	<div class="top-margin">
									<label>Domaine de formation</label>
				 @Html.DropDownList("domaine", null,"Selection le domaine", htmlAttributes: new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.domaine)
								</div>
                                	<div class="top-margin">
									<label>Domaine de formation</label>
				 @Html.DropDownList("nature", null,"Selection la nature du document", htmlAttributes: new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.nature)
								</div>
                                <div class="top-margin">
									<label>Annee de publication</label>
									<input type="number" name="annee" class="form-control">
                                     @Html.ValidationMessageFor(model => model.annee)
								</div>
                                <div class="top-margin">
									<label>Votre fichier</label>
                                  <input type="file" name="fichier" id= "fichier"  class="form-control" /><br />  
                                  
                                     @Html.ValidationMessageFor(model => model.fichier)
 
								</div>

								<div class="row top-margin">
									<div class="col-sm-6">
										<label>Etat de Publication <span class="text-danger"></span></label>
							 @Html.EditorFor(model => model.etatPublication)
            @Html.ValidationMessageFor(model => model.etatPublication)
									</div>
									<div class="col-sm-6">
										<label>Autorisation de Telechargement <span class="text-danger"></span></label>
				 @Html.EditorFor(model => model.autoriseTelecharge)
            @Html.ValidationMessageFor(model => model.autoriseTelecharge)
									</div>
								</div>

								<hr>


								<div class="row">
									
									<div class="col-lg-4 text-right">
										<button class="btn btn-info" id="btnUploadFile" type="submit" value="Create">Conserve</button>
									</div>
                                    <div class="col-lg-4 text-right">
										<button class="btn btn-danger" type="reset" >Annuler</button>
									</div>
                                    <div>
    @Html.ActionLink("Retourne sur vos depot", "Index")
</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div> 
    
 <script src="~/Assets/js/jquery-1.11.1.js"></script>  
<script>  
    $(document).ready(function () {  
        $('#btnUploadFile').on('click', function () {  
            var data = new FormData();  
            var files = $("#fileUpload").get(0).files;  
            // Add the uploaded image content to the form data collection  
            if (files.length > 0) {  
                data.append("UploadedImage", files[0]);  
            }  
            // Make Ajax request with the contentType = false, and procesDate = false  
            var ajaxRequest = $.ajax({  
                type: "POST",  
                url: "myAction/Create",  
                contentType: false,  
                processData: false,  
                data: data  
            });  
  
            ajaxRequest.done(function (xhr, textStatus) {  
                // Do other operation  
            });  
        });  
    });
    var data = new FormData();  
    var files = $("#fileUpload").get(0).files;  
    // Add the uploaded image content to the form data collection  
    if (files.length > 0) {
        data.append("UploadedImage", files[0]);
    }
</script>    
   
}
    
