@model MyConservation.Models.Document

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/LayoutsEtudiant/_Default.cshtml";
}
<header id="head" class="secondary"></header>
<div class="container Acceuil">
<h2 id="Acc">Vous pouvez supprimer votre document</h2>

<fieldset>
    <legend>Document</legend>

   
    <div class="display-field">
     Titre :   @Html.DisplayFor(model => model.titre)
    </div>

    <div class="display-field">
      Nom de l'auteur :  @Html.DisplayFor(model => model.Etudiant.nom)
    </div>

    <div class="display-field">
     Université :   @Html.DisplayFor(model => model.Universite1.nomUniversite)
    </div>

    <div class="display-field">
     Niveau diplome :   @Html.DisplayFor(model => model.Diplome1.niveau)
    </div>

    
    <div class="display-field">
     Domaine de formation :   @Html.DisplayFor(model => model.DomaineFormation.nomDomaine)
    </div>

    <div class="display-field">
      Nature du document :  @Html.DisplayFor(model => model.NatureDocument.nature)
    </div>

    <div class="display-field">
     Annee :   @Html.DisplayFor(model => model.annee)
    </div>

    <div class="display-field">
     Fichier:   @Html.DisplayFor(model => model.fichier)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn btn-xs btn-danger" /> |
        @Html.ActionLink("Retourne sur la page d'acceuil", "Acceuil")
    </p>
}
</div>