@model MyConservation.Models.Document

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/LayoutsEtudiant/_Default.cshtml";
}
<header id="head" class="secondary"></header>
<div class="container Acceuil">
    <div id='sectionAimprimer'>
<h2 id="Acc">Les détails de votre document</h2>

<fieldset>
    <legend>Document</legend>

    <div class="display-field">
     Titre :   @Html.DisplayFor(model => model.titre)
    </div>

    <div class="display-field">
      Nom de l'auteur :  @Html.DisplayFor(model => model.Etudiant.nom)
    </div>

    <div class="display-field">
     Université :   @Html.DisplayFor(model => model.Universite1.nomUniversite)
    </div>

    <div class="display-field">
     Niveau diplome :   @Html.DisplayFor(model => model.Diplome1.niveau)
    </div>

    
    <div class="display-field">
     Domaine de formation :   @Html.DisplayFor(model => model.DomaineFormation.nomDomaine)
    </div>

    <div class="display-field">
      Nature du document :  @Html.DisplayFor(model => model.NatureDocument.nature)
    </div>

    <div class="display-field">
     Annee :   @Html.DisplayFor(model => model.annee)
    </div>

    <div class="display-field">
     Fichier:   @Html.DisplayFor(model => model.fichier)
    </div>

</fieldset>
        </div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }, new {@class="btn btn-xs btn-info" }) |
    @Html.ActionLink("Retourne sur la page d'acceuil", "Acceuil")
    <button class="btn btn-info" onClick="imprimer('sectionAimprimer')">Imprimer</button>
</p>
</div>
<script>
function imprimer(divName) {
      var printContents = document.getElementById(divName).innerHTML;    
   var originalContents = document.body.innerHTML;      
   document.body.innerHTML = printContents;     
   window.print();     
   document.body.innerHTML = originalContents;
   }
</script>