@model MyConservation.Models.Message

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
<h2 id="Acc"> Les Details d'un message</h2>

<fieldset>
    <legend>Message</legend>
    <div class="display-label">
         <h4>Identifiant :</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id)
    </div>
    
    <div class="display-field">
      Nom:  @Html.DisplayFor(model => model.nom)
    </div>
     
    <div class="display-field">
     Email :   @Html.DisplayFor(model => model.email)
    </div>
     
    <div class="display-field">
     Telephone :   @Html.DisplayFor(model => model.telephone)
    </div>
     <div class="display-label">
         <h4>Objet :</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.objet)
    </div>
     <div class="display-label">
         <h4>Message :</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.message1)
    </div>
</fieldset><br />
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }, new {@class="btn btn-info" }) |
    @Html.ActionLink("Retourne sur la liste", "Index")
</p>
</div>