<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="../Assets2/images/logo2.png" ></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right" id="lulu">
					<li class="active"><a href="@Url.Action("Acceuil","CompteEtudiant")"><h4>Acceuil</h4></a></li>
					<li class="active"><a href="@Url.Action("Index","CompteEtudiant")"><h4>Mes Documents</h4></a></li>
					<li class="active" id="lili">
						<a href="#" ><h4>Qui nous sommes</h4></a>
						
					</li>
					<li class="active"><a href="@Url.Action("Create","ContactEtudiant")"><h4>Contacts</h4></a></li>
                    					<li class="active"><a href="@Url.Action("Create","Contact")"><h4>Mon compte</h4></a></li>
					<li><a class="btn" href="@Url.Action("Login","EtudiantClient")"><button class="btn btn-sm btn-danger">Deconnecter</button></a></li>
                   
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 