@model MyConservation.Models.Administrateur

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
<h1 id="Acc">Créer un administrateur</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    <fieldset>
       <form >
  
        <legend >Administrateur</legend>

        <div class="form-label">
            Nom
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nom)
            @Html.ValidationMessageFor(model => model.nom)
        </div>
      

        <div class="form-label">
            Prenom
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prenom)
            @Html.ValidationMessageFor(model => model.prenom)
        </div>

        <div class="form-label">
            Adresse
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.adresse)
            @Html.ValidationMessageFor(model => model.adresse)
        </div>

        <div class="form-label">
            Email
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="form-label">
            Telephone
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telephone)
            @Html.ValidationMessageFor(model => model.telephone)
        </div>

        <div class="form-label">
            Sexe
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sexe)
            @Html.ValidationMessageFor(model => model.sexe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
        </form>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    </div>
