@model MyConservation.Models.Administrateur

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
<h1 id="Acc">Créer un nouveau Administrateur</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    <fieldset>
      <form class="row g-3">
  
        <legend >Administrateur</legend>

           <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nom</label>
               <input id="Text1" type="text" class="form-control" name="nom" required/>
          
           @Html.ValidationMessageFor(model => model.nom) 

  <label for="inputEmail4" class="form-label">Prenom</label>
               <input  type="text" class="form-control" name="prenom" required/>
          
           @Html.ValidationMessageFor(model => model.prenom) 
               <label for="inputEmail4" class="form-label">Adresse</label>
               <input  type="text" class="form-control" name="adresse" required/>
          
           @Html.ValidationMessageFor(model => model.adresse) 
               <label for="inputEmail4" class="form-label">Email</label>
               <input  type="email" class="form-control" name="email" required/>
          
           @Html.ValidationMessageFor(model => model.email) 
<label for="inputEmail4" class="form-label">Telephone</label>
               <input  type="text" class="form-control" name="telephone" required/>
          
           @Html.ValidationMessageFor(model => model.telephone) 
               <label for="inputEmail4" class="form-label">Sexe</label>
               <select name="sexe" required>
                   <option value="M">M</option>
                   <option value="F">F</option>
               </select>
          
           @Html.ValidationMessageFor(model => model.sexe) <br />
               <label for="inputEmail4" class="form-label">Mot de Passe</label>
               <input  type="text" class="form-control" name="password" required/>
          
           @Html.ValidationMessageFor(model => model.password) <br /> 
        <button type="submit" value="Create" class="btn btn-info">Créer</button>
               <button type="reset" class="btn btn-danger">Annuler</button>

        </div>
          <div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>
      

        </form>
    </fieldset>
}

    </div>
