<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
                <img alt="" src="~/Assets/photos/prince.jpg" />
				<div class="profile-usertitle-name">Username</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a></li>
			<li><a href="@Url.Action("Index","Administrateur")"><i class="fa fa-first-order" aria-hidden="true"></i> Administrateurs</a></li>
			<li><a href="@Url.Action("Index","Etudiant")"><i class="fa fa-university" aria-hidden="true"></i> Etudiants</a></li>
            <li><a href="@Url.Action("Index","Universite")"><i class="fa fa-university" aria-hidden="true"></i> Universites</a></li>
            <li><a href="@Url.Action("Index","Diplome")"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Diplomes</a></li>
            <li><a href="@Url.Action("Index","DomaineFormation")"><em class="fa fa-bar-chart">&nbsp;</em> Domaines Formations</a></li>
            <li><a href="@Url.Action("Index","NatureDocument")"><em class="fa fa-bar-chart">&nbsp;</em> Natures Documents</a></li>
            <li><a href="@Url.Action("Index","Document")"><i class="fa fa-book" aria-hidden="true"></i> Documents</a></li>
            <li><a href="@Url.Action("Index","DocumentPublier")"><i class="fa fa-book" aria-hidden="true"></i> Document Publier</a></li>
            <li><a href="@Url.Action("Index","Galerie")"><i class="fa fa-photo" aria-hidden="true"></i> Galeries</a></li>
            <li><a href="@Url.Action("Index","Evenemet")"><em class="fa fa-bar-chart">&nbsp;</em> Evenements</a></li>
            <li><a href="@Url.Action("Index","Message")"><em class="fa fa-bar-chart">&nbsp;</em> Messages</a></li>
			
			<li><a href="panels.html"><em class="fa fa-clone">&nbsp;</em> Alerts &amp; Panels</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Multilevel <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 1
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 2
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3
					</a></li>
				</ul>
			</li>
			<li><a href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->