@model MyConservation.Models.Document

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div id='sectionAimprimer'>
<h1 id="Acc">Les details d'un document</h1>

<fieldset>
    <legend>Document</legend>

    <div class="display-label">
        <h4> Titre : @Html.DisplayFor(model => model.titre) </h4>
    </div>
    
    <div class="display-label">
       <h4> Auteur :   @Html.DisplayFor(model => model.Etudiant.nom)</h4>
    </div>

    <div class="display-field">
     <h4>Universite :   @Html.DisplayFor(model => model.Universite1.nomUniversite)</h4> 
    </div>

    <div class="display-field">
      <h4>Diplome :  @Html.DisplayFor(model => model.Diplome1.niveau)</h4> 
    </div>

    <div class="display-field">
     <h4>Domaine Formation :   @Html.DisplayFor(model => model.DomaineFormation.nomDomaine)</h4>
    </div>

    <div class="display-field">
      <h4>Nature Document :  @Html.DisplayFor(model => model.NatureDocument.nature) </h4>
    </div>

    <div class="display-field">
    <h4>Annee :   @Html.DisplayFor(model => model.annee)</h4>
    </div>
    <div class="display-field">
    <h4>Fichier :    @Html.DisplayFor(model => model.fichier)</h4>
    </div>
    <div class="display-field">
    <h4>Etat de publication : @Html.DisplayFor(model => model.etatPublication)</h4>
    </div>
    <div class="display-field">
    <h4>Telechargement : @Html.DisplayFor(model => model.autoriseTelecharge)</h4>
    </div>
</fieldset>
        </div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id=Model.id }, new{@class="btn btn-info"}) |
    @Html.ActionLink("Retour à la liste", "Index")
    <button class="btn btn-info" onClick="imprimer('sectionAimprimer')">Imprimer</button>
</p>
    
    </div>

<script>
function imprimer(divName) {
      var printContents = document.getElementById(divName).innerHTML;    
   var originalContents = document.body.innerHTML;      
   document.body.innerHTML = printContents;     
   window.print();     
   document.body.innerHTML = originalContents;
   }
</script>
