@model MyConservation.Models.Document

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layouts/_Default.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <h2>Modifier le document</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" id="Acc"><i class="fa fa-first-order" aria-hidden="true"></i>Documents</h1>
			</div>
		</div>
    <fieldset>
        

        <div class="editor-label">
         <label for="inputEmail4" class="form-label">Titre</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.titre)
            @Html.ValidationMessageFor(model => model.titre)
        </div>

        <div class="editor-label">
           <label for="inputEmail4" class="form-label">Auteur</label>
        </div>
        <div class="editor-field">
             
                  @Html.DropDownList("nomAuteur", String.Empty)
            @Html.ValidationMessageFor(model => model.nomAuteur)
                 
         
        </div>

        <div class="editor-label">
           <label for="inputEmail4" class="form-label">Universite</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("universite", String.Empty)
            @Html.ValidationMessageFor(model => model.universite)
        </div>

        <div class="editor-label">
           <label for="inputEmail4" class="form-label">Diplome</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("diplome", String.Empty)
            @Html.ValidationMessageFor(model => model.diplome)
        </div>

        <div class="editor-label">
          <label for="inputEmail4" class="form-label">Domaine de formation</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("domaine", String.Empty)
            @Html.ValidationMessageFor(model => model.domaine)
        </div>

        <div class="editor-label">
        <label for="inputEmail4" class="form-label">Nature du Document</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("nature", String.Empty)
            @Html.ValidationMessageFor(model => model.nature)
        </div>

        <div class="editor-label">
        <label for="inputEmail4" class="form-label">Annee</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.annee)
            @Html.ValidationMessageFor(model => model.annee)
        </div>

        <div class="editor-label">
           <label for="inputEmail4" class="form-label">Fichier</label>
        </div>
        <div class="editor-field">
           <input type="file" name="fichier" id="fichier"  required>
        @Html.ValidationMessageFor(model => model.fichier)
        </div>

        <div class="editor-label">
            <label for="inputEmail4" class="form-label">Etat de Publication</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.etatPublication)
            @Html.ValidationMessageFor(model => model.etatPublication)
        </div>

        <div class="editor-label">
           <label for="inputEmail4" class="form-label">Autorisation de telechargement</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.autoriseTelecharge)
            @Html.ValidationMessageFor(model => model.autoriseTelecharge)
        </div>

        <p>
            <button type="submit" value="Save" class="btn btn-info">Modifier</button>
               <button type="reset" class="btn btn-danger">Annuler</button>
            
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retourne sur la liste", "Index")
</div>
</div>