@model IEnumerable<MyConservation.Models.Document>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    
 <h2>Liste des documents </h2>
    @if (TempData["AlertMessage"] != null) { 
    
        <div class="alert alert-success">
     <strong>Success !</strong>   @TempData["AlertMessage"]

    </div>
    
    }

    <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" id="Acc"><i class="fa fa-first-order" aria-hidden="true"></i>Documents</h1>
			</div>
		</div><!--/.row-->
<h4 class="btn btn-success">
    
    @Html.ActionLink("+Nouveau Document", "Create")
        
</h4> <br /><br />

<table class="table table-striped">
    <thead >
    <tr>
        
        <th>
            Titre
        </th>
        <th>
            Auteur
        </th>
        
        <th>
           Domaine
        </th>
        <th>
           Nature
        </th>
        <th>
           Annee
        </th>
        <th>
            Fichier
        </th>
        <th>
            A.P
        </th>
        <th>
            A.T
        </th>
        <th>Actions</th>
    </tr>
        </thead>
    <tbody>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etudiant.nom)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DomaineFormation.nomDomaine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NatureDocument.nature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.annee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fichier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etatPublication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autoriseTelecharge)
        </td>
        <td>
           @Html.ActionLink("Modifier", "Edit", new { id = item.id }, new { @class="btn btn-info"}) |
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class="btn btn-warning"}) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id }, new { @class="btn btn-danger"})
        </td>
    </tr>
}
</tbody>
</table>
</div>