<!DOCTYPE html>
<html lang="en">
    @RenderPage("~/Views/PartialsEtudiant/_Head.cshtml")
<body class="home">
    @RenderPage("~/Views/PartialsEtudiant/_Navbar.cshtml")

    @RenderBody()

    @RenderPage("~/Views/PartialsEtudiant/_Footer.cshtml")
    @Scripts.Render("~/Assets2/js")
  
</body>
</html>