@model MyConservation.Models.Etudiant

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/LayoutsClient/_Default.cshtml";
}



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <header id="head" class="secondary"></header>
    
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Acceuil</a></li>
			
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Créer compte</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Créer un nouveau compte</h3>
							<p class="text-center text-muted">Si vous avez déjà un compte, <a href="@Url.Action("Login","EtudiantClient")">Se connecter</a> pour accéder sur votre compte </p>
							<hr>

							<form>
								<div class="top-margin">
									<label>Nom</label>
									<input type="text" name="nom" class="form-control">
                                     @Html.ValidationMessageFor(model => model.nom)
								</div>
								<div class="top-margin">
									<label>Prenom</label>
									<input type="text" name="prenom" class="form-control">
                                     @Html.ValidationMessageFor(model => model.prenom)
								</div>
                                <div class="top-margin">
									<label>Adresse</label>
									<input type="text" name="adresse" class="form-control">
                                     @Html.ValidationMessageFor(model => model.adresse)
								</div>
								<div class="top-margin">
									<label>Email  <span class="text-danger">*</span></label>
									<input type="email" name="email" class="form-control">
                                    @Html.ValidationMessageFor(model => model.email)
								</div>
                                <div class="top-margin">
									<label>Sexe</label>
									<input type="text" name="sexe" class="form-control">
                                    @Html.ValidationMessageFor(model => model.sexe)
								</div>

								<div class="row top-margin">
									<div class="col-sm-6">
										<label>Nationalite <span class="text-danger">*</span></label>
										<input type="text" name="nationalite" class="form-control">
                                        @Html.ValidationMessageFor(model => model.nationalite)
									</div>
									<div class="col-sm-6">
										<label>Password <span class="text-danger">*</span></label>
										<input type="text" name="password" class="form-control">
                                        @Html.ValidationMessageFor(model => model.password)
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<label class="checkbox">
											<input type="checkbox"> 
											 <a href="page_terms.html">Accepter nos conditions</a>
										</label>                        
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit" value="Create">Créer</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
    
    
    
    <fieldset>
        <legend>Etudiant</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nom)
            @Html.ValidationMessageFor(model => model.nom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.prenom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prenom)
            @Html.ValidationMessageFor(model => model.prenom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.adresse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.adresse)
            @Html.ValidationMessageFor(model => model.adresse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sexe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sexe)
            @Html.ValidationMessageFor(model => model.sexe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nationalite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nationalite)
            @Html.ValidationMessageFor(model => model.nationalite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
