@model MyConservation.Models.Etudiant

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/LayoutsClient/_Default.cshtml";
}



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <header id="head" class="secondary"></header>
    
	<!-- container -->
	<div class="container Acceuil">

		<ol class="breadcrumb">
			<li><a href="index.html">Acceuil</a></li>
			
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title" id="Acc">Créer compte étudiant</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Créer un nouveau compte</h3>
							<p class="text-center text-muted">Si vous avez déjà un compte, <a href="@Url.Action("Login","EtudiantClient")">Se connecter</a> pour accéder sur votre compte </p>
							<hr>

							<form>
								<div class="top-margin">
									<label>Nom</label>
									<input type="text" name="nom" class="form-control" required/>
                                     @Html.ValidationMessageFor(model => model.nom)
								</div>
								<div class="top-margin">
									<label>Prenom</label>
									<input type="text" name="prenom" class="form-control" required/>
                                     @Html.ValidationMessageFor(model => model.prenom)
								</div>
                                <div class="top-margin">
									<label>Adresse</label>
									<input type="text" name="adresse" class="form-control" required/>
                                     @Html.ValidationMessageFor(model => model.adresse)
								</div>
								<div class="top-margin">
									<label>Email  <span class="text-danger">*</span></label>
									<input type="email" name="email" class="form-control" required/>
                                    @Html.ValidationMessageFor(model => model.email)
								</div>
                                <div class="top-margin">
									<label>Sexe</label>
                                    <select name="sexe" id="Select1" class="form-control">
                                        <option value="Masculin"> Masculin</option>
                                        <option value="Feminin">Feminin</option>
                                    </select>								
                                    @Html.ValidationMessageFor(model => model.sexe)
								</div>

									<div class="row top-margin">
									<div class="col-sm-6">
										<label>Pays <span class="text-danger">*</span></label>
										 <select id="Select2" name="nationalite" class="form-control">
                                             <option value="Algerie">Algerie</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Rwanda">Rwanda</option>
                                             <option value="RDC">RDC</option>
                                        <option value="Tanzanie">Tanzanie</option>
                                             <option value="Kenya">Kenya</option>
                                        <option value="Ouganda">Ouganda</option>
                                             <option value="Nigeria">Nigeria</option>
                                        <option value="Somalie">Somalie</option>
                                             <option value="Egypt">Egypt</option>
                                        <option value="Ethiopie">Ethiopie</option>
                                             <option value="Maroc">Maroc</option>
                                        <option value="Benin">Benin</option>
                                    </select>
                                        @Html.ValidationMessageFor(model => model.nationalite)
									</div>
									<div class="col-sm-6">
										<label>Password <span class="text-danger">*</span></label>
										<input type="password" name="password" class="form-control" required/>
                                        @Html.ValidationMessageFor(model => model.password)
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
									                       
									</div>
									<div class="col-lg-8 text-right">
										<button class="btn btn-action" type="submit" value="Create">Créer</button>
                                        <button class="btn btn-danger" type="reset" >Annuler</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
    
       
}


