@model MyConservation.Models.DocumentPublier

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DocumentPublier</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.titre, "Document")
        </div>
        <div class="editor-field">
            @Html.DropDownList("titre", String.Empty)
            @Html.ValidationMessageFor(model => model.titre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.commentaire)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.commentaire)
            @Html.ValidationMessageFor(model => model.commentaire)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>