@model MyConservation.Models.DocumentPublier

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
<h1 id="Acc" class="page-title">Publie un document</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Document Publier</legend>

        <div class="editor-label">
           <h3>Titre du document</h3> 
        </div>
        <div class="editor-field">
            @Html.DropDownList("titre", String.Empty)
            @Html.ValidationMessageFor(model => model.titre)
        </div>

        <div class="editor-label">
            <h3>Commentaire</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.commentaire)
            @Html.ValidationMessageFor(model => model.commentaire)
        </div><br />

        <p>
            <button value="Create" class="btn btn-info" type="submit">Ajouter</button>
             <button  class="btn btn-danger" type="reset">Annuler</button>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retourne sur la liste", "Index")
</div>
</div>