@model MyConservation.Models.Etudiant

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
<h2 id="Acc">Creer compte d'un etudiant</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    
   <div class="container">

	

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Créer compte</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Créer un nouveau compte</h3>
							
							<hr>

							<form>
								<div class="top-margin">
									<label>Nom</label>
									<input type="text" name="nom" class="form-control">
                                     @Html.ValidationMessageFor(model => model.nom)
								</div>
								<div class="top-margin">
									<label>Prenom</label>
									<input type="text" name="prenom" class="form-control">
                                     @Html.ValidationMessageFor(model => model.prenom)
								</div>
                                <div class="top-margin">
									<label>Adresse</label>
									<input type="text" name="adresse" class="form-control">
                                     @Html.ValidationMessageFor(model => model.adresse)
								</div>
								<div class="top-margin">
									<label>Email  <span class="text-danger">*</span></label>
									<input type="email" name="email" class="form-control">
                                    @Html.ValidationMessageFor(model => model.email)
								</div>
                                <div class="top-margin">
									<label>Sexe</label>
                                    <select id="Select1" name="sexe" class="form-control">
                                        <option value="Masculin">Masculin</option>
                                        <option value="Feminin">Feminin</option>
                                    </select>
									
                                    @Html.ValidationMessageFor(model => model.sexe)
								</div>

								<div class="row top-margin">
									<div class="col-sm-6">
										<label>Pays <span class="text-danger">*</span></label>
										 <select id="Select2" name="nationalite" class="form-control">
                                             <option value="Algerie">Algerie</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Rwanda">Rwanda</option>
                                             <option value="RDC">RDC</option>
                                        <option value="Tanzanie">Tanzanie</option>
                                             <option value="Kenya">Kenya</option>
                                        <option value="Ouganda">Ouganda</option>
                                             <option value="Nigeria">Nigeria</option>
                                        <option value="Somalie">Somalie</option>
                                             <option value="Egypt">Egypt</option>
                                        <option value="Ethiopie">Ethiopie</option>
                                             <option value="Maroc">Maroc</option>
                                        <option value="Benin">Benin</option>
                                    </select>
                                        @Html.ValidationMessageFor(model => model.nationalite)
									</div>
									<div class="col-sm-6">
										<label>Password <span class="text-danger">*</span></label>
										<input type="password" name="password" class="form-control">
                                        @Html.ValidationMessageFor(model => model.password)
									</div>
								</div>

								<hr>

								<div class="row">
									
									<div class="col-lg-4 text-right">
										<button class="btn btn-info" type="submit" value="Create">Créer</button>
                                        <button class="btn btn-danger" type="reset" value="Create">Annuler</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
} 
<div>
    @Html.ActionLink("Retourne sur la liste", "Index")
</div>
