@model MyConservation.Models.Etudiant

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
<h2>Details</h2>

<fieldset>
    <legend>Etudiant</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prenom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prenom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.adresse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adresse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sexe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sexe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nationalite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nationalite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>